<div>
	<h3>"<%= @modifiedsentence.content %>"</h3>
</div>

<br>

<div>
	<h4>Original Tumblr Sentence:</h4>
	<p><%= @sentence.content %></p>
</div>

<br>

<div>
	<h4>Recent TumblrMadLibs From This Sentence:</h4>


		<% @sentence.modifiedsentences.limit(5).each do |modifiedsentence| %>
			<p><%= modifiedsentence.content %></p>
		<% end %>


</div>